/* 색상 */
/* 빨       핑       노       하        파
#D97B59  #F2D4C2  #F2CA99  #789EBF  #5D84A6 */


/* Theme Mode */
.light {
  --bgBlur: rgba(255, 255, 255, 0.5);
  /* --btn: rgba(255, 255, 255, 0.5); */
  /* color: #212121;
  background-color: #f3f3f3;
  
  --headerBg: #fafafaea;
  --hr: #ececec;
  --text:#b9b9b9;
  --bg: #fafafa;
  --selecttext:#d6d6d6;
  --selectbg:#30303090;
  --imgBg:#323232;
  --boxshadow:0px 0px 10px #43394450;
  --comment: 'github-light';
  --imgShadow:  6px 6px 8px #c9b0a1, -6px -6px 8px #fff8e3;
  --toggleShadow:6px 6px 8px #dadada, -6px -6px 8px #ffffff;
  --toggleHover:  inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
  --headerShadow: inset 0px 4px 6px #ffffff, inset 0px -4px 6px #dadada, 0px -2px 6px #f0f0f0; */
}

.dark {
  --bgBlur: rgba(0, 0, 0, 0.7);
  /* color:#dbdbdb;
  background-color: #323232;

  --headerBg: #323232ea;
  --hr: #3a3a3a;
  --text:#979797;
  --bg: #323232;  
  --imgBg: #fafafa;
  --selecttext:#474747;
  --selectbg:#fafafa90;
  --boxshadow:0px 0px 10px #d1d1d148; 
  --comment: 'photon-dark';
  --imgShadow: inset 6px 6px 8px #c9b0a1, inset -6px -6px 8px #fff8e3;
  --toggleShadow:6px 6px 8px #2b2b2b, -6px -6px 8px #3b3b3b;
  --toggleHover:  inset 6px 6px 8px #2b2b2b, inset -6px -6px 8px #3b3b3b;
  --headerShadow:  inset 0px 4px 6px #2b2b2b, inset 0px -4px 6px #3b3b3b, 0px 2px 6px #2a2a2a; */
}

/* Main Page */
.rootPage, .inPage {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--bgBlur);
}

main {
  max-width:56rem;
  margin:10rem auto;
}

.inPage h1 {
  margin:0;
  color:#F2CA99;
  font-size:1.5rem;
}


/* Post Nav Button */
.navButton {
  padding: 0.9rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}

.navButton:hover {
  box-shadow: var(--toggleHover);
}

.cate {
  display: flex;
  height: 150px;
  line-height: 150px;
  padding: 0 3rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}

.cateTitle {
  line-height: 150px;
}

.cateLogo {
  margin-right: 0;
}

.cateBody {
  display: flex;
  margin-top: 2rem;
}

.catePost {
  width: 76%;
  margin: 0 2rem 0 0;
  padding: 0.7rem 1rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}

.catePostList {
  margin:0.3rem 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.catePostList:hover {
  border-radius: 13px;
  box-shadow: var(--toggleHover);
}

.catePostListItem {
  display: flex;
  padding:0.3rem;
  margin: 0.3rem 0 0 0;
  border-bottom: 1px solid var(--hr);
}

.catePostListItemImg {
  padding: 0.3rem;
  margin: 0 1rem 0 0;
  width:40px;
  height: 40px;
  color:#D97B59;
  line-height: 30px;
  text-align: center;
  border-radius: 40px;
  font-size: 0.9rem;
  background-color: #F2D4C2;
  box-shadow: var(--toggleShadow);
}

.catePostListItemTitle {
  margin-left: 0;
}

.catePostListItemTitle h4 {
  color:#F2CA99;
}

.catePostListItemTitle small {
  color:var(--text);
}


/* Category Button */
.cateButtonGroup {
  margin:0 0 auto auto;
  width: 20%;
}

.cate-box {
  display: none;
}

.cate-label {
  cursor: pointer;
  display:flex;
  color:#D97B59;
  width:100%;
  margin:0 auto 1rem auto;
  padding:0.7rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}

.cate-label:hover {
  box-shadow: var(--toggleHover);
}

.cate-box:checked+label {
  box-shadow: var(--toggleHover);
}

.cate-logo {
  margin-left: 0;
}


.postHeader {
  width:100%;
  height: 150px;
  margin:0 auto 1rem auto;
  padding:2.5rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}

.postHeader small {
  color:#F2D4C2;
}

.postBody {
  width:100%;
  height: 100%;
  margin:1.5rem auto;
  padding:1.5rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}




.comment {
  margin:1.5rem auto;
  padding:1.5rem;
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
}



/* Comment */
.utterances {
  min-width: 100%;
}








.mainCat {
  border-radius: 13px;
  box-shadow: var(--toggleShadow);
  margin:20rem auto;
  padding:1.5rem 2rem;
  text-align: center;
}

.mainCat:hover {
  box-shadow: var(--toggleHover);
}

.mainName {
  margin-top: 1rem;
}

.mainTag {
  text-align: center;
  margin: 4rem;
}
