/* Markdown */
article.blog-post section li {
    margin-left:2rem;
}

article.blog-post section table {
    min-width: 95%;
    margin:1.5rem auto;
}

article.blog-post section td,
article.blog-post section th {
    border:2px solid darkgray;
    padding:0.5rem;
    font-size: 0.9rem;
    font-weight: lighter;
    text-align:center;
    align-content: center;
}


article.blog-post section pre {
    margin:1rem;
    padding:0;
}

article.blog-post section pre code {
    margin:0;
    padding:1rem 0;
}

article.blog-post section pre code span {
    font-family: 'GoyangIlsan';
}