* {
    /* font-family: 'TmoneyRoundWindRegular'; */
    font-family: 'TmoneyRoundWindExtraBold';
    max-width:56rem;
    margin:auto;
}

ul, 
ol {
    padding:0,
}


.light {
    color: #212121;
    background-color: #fafafa;
    
    --text:#474747;
    --bg:#fafafa;
    --selecttext:#d6d6d6;
    --selectbg:#30303090;
    /* --header:linear-gradient( to right, #897eff, #8eaffd); */
    --boxshadow:0px 0px 10px #43394450;
}

.dark {
    color:#dbdbdb;
    background-color: #212121;
    
    --text:#d6d6d6;
    --bg:#303030;
    --selecttext:#474747;
    --selectbg:#fafafa90;
    /* --header:linear-gradient( to right, #9966ff, #ffb0ff); */
    --boxshadow:0px 0px 10px #d1d1d148; 
}

.switchToggle input[type=checkbox]{height: 0; width: 0; visibility: hidden; position: absolute; }
.switchToggle label {cursor: pointer; text-indent: -9999px; width: 60px; max-width: 52px; height: 26px; background: #ebebeb; display: block; border-radius: 100px; position: relative; }
.switchToggle label:after {content: ''; position: absolute; top: 2px; left: 2px; width: 22px; height: 22px; background: #9966ff; border-radius: 100px; }
.switchToggle input:checked + label, .switchToggle input:checked + input + label  {background: #3d3d3d; }
.switchToggle input + label:before, .switchToggle input + input + label:before {content: '\f6c4'; position: absolute; top: 5px; left: 35px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color: #fff; }
.switchToggle input:checked + label:before, .switchToggle input:checked + input + label:before {content: '\f6c3'; position: absolute; top: 5px; left: 10px; width: 26px; height: 26px; border-radius: 90px; transition: 0.3s; text-indent: 0; color:#fff; }
.switchToggle input:checked + label:after, .switchToggle input:checked + input + label:after {left: calc(100% - 2px); transform: translateX(-100%); }
.switchToggle label:active:after {width: 60px; } 
.toggle-switchArea { margin: 10px 0 10px 0; }